## Cleaning

In [133]:
import pandas as pd

df_facility = pd.read_csv('./dataset/synthetic_facility_v3.csv')
print(df_facility.dtypes)

recnr          int64
firstname     object
lastname      object
petname       object
dob           object
sex            int64
nationalid    object
patientid      int64
visitdate     object
dtype: object

In [134]:
df_facility.describe

<bound method NDFrame.describe of       recnr  firstname   lastname    petname               dob  sex  \
0         2     Fatuma        NaN      Zaina  24-08-2017 00:00    2
1         3     Gloria    Rashida        NaN  11-07-1993 00:00    2
2         4        Ali     Hakram      Igomu  17-05-2014 00:00    1
3         5   Nakalema        NaN    Nkwanga  27-02-2026 00:00    2
4         6     Asuman      Sempa      Aguti  02-03-2002 00:00    1
...     ...        ...        ...        ...               ...  ...
2897   2899     Madina   Nakagolo      Nkima  28-07-1955 00:00    2
2898   2900  Namulondo  Namugabwe        NaN  14-09-1933 00:00    2
2899   2901     Ziriya      Kauma       Kato  11-11-1963 00:00    2
2900   2902      Faizo    Buyinza  Ssenyonjo  09-06-1956 00:00    1
2901   2903  Namusobya      Nambi        Gia  29-08-2010 00:00    2

      nationalid  patientid   visitdate
0      N_ID_5000       2069  10-09-2018
1     N_ID_11861       2079  14-12-2022
2     N_ID_11864       2080  09-06-2023
3     N_ID_11867       2081  07-02-2019
4     N_ID_11870       2082  18-08-2020
...          ...        ...         ...
2897  N_ID_13676       4961  17-08-2021
2898  N_ID_13679       4962  21-06-2019
2899  N_ID_13682       4963  27-12-2018
2900  N_ID_13685       4964  01-12-2019
2901  N_ID_13688       4965  10-06-2019

[2902 rows x 9 columns]>

In [135]:
df_facility.shape

(2902, 9)

In [136]:
# Checking for non-null
if df_facility['recnr'].nunique() != df_facility.shape[0]:
    print('# of non-unique recnr values: ', df_facility['recnr'].nunique())
if df_facility['recnr'].isna().sum() != 0:
    print('# of null recnr values: ', df_facility['recnr'].isna().sum())
if df_facility['sex'].isna().sum() != 0:
    print('# of null sex values: ', df_facility['sex'].isna().sum())
if df_facility['nationalid'].nunique() != df_facility.shape[0]:
    print('# of non-unique nationalid values: ', df_facility['nationalid'].nunique())
if df_facility['nationalid'].isna().sum() != 0:
    print('# of null nationalid values: ', df_facility['nationalid'].isna().sum())
if df_facility['patientid'].nunique() != df_facility.shape[0]:
    print('# of non-unique patientid values: ', df_facility['patientid'].nunique())
if df_facility['patientid'].isna().sum() != 0:
    print('# of null patientid values: ', df_facility['patientid'].isna().sum())
if df_facility['visitdate'].isna().sum() != 0:
    print('# of null visitdate values: ', df_facility['visitdate'].isna().sum())
if df_facility['dob'].isna().sum() != 0:
    print('# of null dob values: ', df_facility['dob'].isna().sum())

In [137]:
df_facility['dob'] = pd.to_datetime(df_facility['dob'], dayfirst=True, errors='coerce')
df_facility['dob'] = df_facility['dob'].dt.date
print('Modifying type for dob')

Modifying type for dob

In [148]:
df_facility

,recnr,firstname,lastname,petname,dob,sex,nationalid,patientid,visitdate
0,2,Fatuma,NaN,Zaina,2017-08-24,2,N_ID_5000,2069,10-09-2018
1,3,Gloria,Rashida,NaN,1993-07-11,2,N_ID_11861,2079,14-12-2022
2,4,Ali,Hakram,Igomu,2014-05-17,1,N_ID_11864,2080,09-06-2023
3,5,Nakalema,NaN,Nkwanga,2026-02-27,2,N_ID_11867,2081,07-02-2019
4,6,Asuman,Sempa,Aguti,2002-03-02,1,N_ID_11870,2082,18-08-2020
...,...,...,...,...,...,...,...,...,...
2897,2899,Madina,Nakagolo,Nkima,1955-07-28,2,N_ID_13676,4961,17-08-2021
2898,2900,Namulondo,Namugabwe,NaN,1933-09-14,2,N_ID_13679,4962,21-06-2019
2899,2901,Ziriya,Kauma,Kato,1963-11-11,2,N_ID_13682,4963,27-12-2018
2900,2902,Faizo,Buyinza,Ssenyonjo,1956-06-09,1,N_ID_13685,4964,01-12-2019
2901,2903,Namusobya,Nambi,Gia,2010-08-29,2,N_ID_13688,4965,10-06-2019

In [138]:
df_hdss = pd.read_csv('./dataset/synthetic_hdss_v3.csv')
print(df_hdss.dtypes)

recnr           int64
firstname      object
lastname       object
petname        object
dob            object
sex             int64
nationalid    float64
hdssid         object
hdsshhid       object
dtype: object

In [139]:
df_hdss['dob'] = pd.to_datetime(df_hdss['dob'], dayfirst=True, errors='coerce')
df_hdss['dob'] = df_hdss['dob'].dt.date
print('Modifying type for dob')

Modifying type for dob

In [140]:
df_hdss.describe

<bound method NDFrame.describe of       recnr firstname lastname   petname         dob  sex  nationalid  hdssid  \
0         1     Zaina   Hanifa       Ula  1930-09-22    2         NaN  I20001
1         2   Godfrey  Maganda    Mukama  1934-07-15    1         NaN  I20002
2         3     Kasim    Ngobi  Galabuzi  1983-03-03    1         NaN  I20003
3         4    Esther      NaN     Inara  1968-07-30    2         NaN  I20004
4         5    Sumaya  Swabula       NaN  1930-12-13    2         NaN  I20005
...     ...       ...      ...       ...         ...  ...         ...     ...
4110   4111   Sharita  Nabirye       NaN  1981-03-18    2         NaN  I24111
4111   4112    Tenywa   Kapiso   Biraaro  1998-06-28    1         NaN  I24112
4112   4113    Mariam  Babirye       NaN  1986-04-03    2         NaN  I24113
4113   4114   Nangobi    Tracy       NaN  2001-12-19    2         NaN  I24114
4114   4115    Joshua   Kasubi   Najjuma  1990-08-23    1         NaN  I24115

      hdsshhid
0     HH100001
1     HH100002
2     HH100003
3     HH100004
4     HH100005
...        ...
4110  HH104111
4111  HH104112
4112  HH104113
4113  HH104114
4114  HH104115

[4115 rows x 9 columns]>

In [141]:
df_hdss.shape

(4115, 9)

In [142]:
# Checking for non-null
if df_hdss['recnr'].nunique() != df_hdss.shape[0]:
    print('# of non-unique recnr values: ', df_hdss['recnr'].nunique())
if df_hdss['recnr'].isna().sum() != 0:
    print('# of recnr null values: ', df_hdss['recnr'].isna().sum())
if df_hdss['sex'].isna().sum() != 0:
    print('# of sex null values: ', df_hdss['sex'].isna().sum())
if df_hdss['nationalid'].nunique() != df_hdss.shape[0]:
    print('# of non-unique nationalid values: ', df_hdss['nationalid'].nunique())
if df_hdss['nationalid'].isna().sum() != 0:
    print('# of null nationalid values: ', df_hdss['nationalid'].isna().sum())
if df_hdss['petname'].isna().sum() == df_hdss.shape[0]:
    print('# all null petname column: ', dh_hdss['petname'].isna().sum())
if df_hdss['dob'].isna().sum() != 0:
    print('# of null dob values: ', df_hdss['dob'].isna().sum())
if df_hdss['hdssid'].nunique() != df_hdss.shape[0]:
    print('# of non-unique hdssid values: ', df_hdss['hdssid'].nunique())
if df_hdss['hdssid'].isna().sum() != 0:
    print('# of hdssid null values: ', df_hdss['hdssid'].isna().sum())
if df_hdss['hdsshhid'].nunique() != df_hdss.shape[0]:
    print('# of non-unique hdsshhid values: ', df_hdss['hdsshhid'].nunique())
if df_hdss['hdsshhid'].isna().sum() != 0:
    print('# of hdsshhid null values: ', df_hdss['hdsshhid'].isna().sum())

# of non-unique nationalid values:  0
# of null nationalid values:  4115

In [143]:
df_hdss.drop('nationalid', axis=1, inplace=True)
print(list(df_hdss.columns))
print('drop column(nationalid) without a value')

['recnr', 'firstname', 'lastname', 'petname', 'dob', 'sex', 'hdssid', 'hdsshhid']
drop column(nationalid) without a value

In [146]:
df_hdss

      recnr firstname lastname   petname         dob  sex  hdssid  hdsshhid
0         1     Zaina   Hanifa       Ula  1930-09-22    2  I20001  HH100001
1         2   Godfrey  Maganda    Mukama  1934-07-15    1  I20002  HH100002
2         3     Kasim    Ngobi  Galabuzi  1983-03-03    1  I20003  HH100003
3         4    Esther      NaN     Inara  1968-07-30    2  I20004  HH100004
4         5    Sumaya  Swabula       NaN  1930-12-13    2  I20005  HH100005
...     ...       ...      ...       ...         ...  ...     ...       ...
4110   4111   Sharita  Nabirye       NaN  1981-03-18    2  I24111  HH104111
4111   4112    Tenywa   Kapiso   Biraaro  1998-06-28    1  I24112  HH104112
4112   4113    Mariam  Babirye       NaN  1986-04-03    2  I24113  HH104113
4113   4114   Nangobi    Tracy       NaN  2001-12-19    2  I24114  HH104114
4114   4115    Joshua   Kasubi   Najjuma  1990-08-23    1  I24115  HH104115

[4115 rows x 8 columns]